.header {
    grid-area: header;
    /* background-color: #dff7f8; */
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    /* align-items:center; */
    font-family: fangsong;
    font-size: 26px;
}

.headerLogo {
    flex: 0 1 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.header img {
    width: 40px;
}


.loginBlock{
    display: flex;
    align-items: center;
    padding-right: 20px;
}


.loginBlock a{
    text-decoration: none;
    color: #000;
}

.loginBlock a:hover{
    color: #2ab5b6;
}

.loginBlock a.active{
    background-color: #dcbada;
    padding: 10px;
    margin-left: -10px;
    border-radius: 10px;
    color: #9e0694;
}