.nav {
    grid-area: nav;
    background-color: #f7f8df;

    padding: 10px 20px;
    font-family: fangsong;
    font-size: 26px;
}

.item{
    margin: 0px 0px 10px 0px;
}

.item:first-child{
    padding-top: 10px;
}

.item a{
    color: #000;
    text-decoration: none;
}

.item a:hover{
    color: #2ab5b6;
}

.item a.active{
    background-color: #dcbada;
    padding: 10px;
    margin-left: -10px;
    border-radius: 10px;
    color: #9e0694;
}