.item {
    color: #b62ab5;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;

    margin-top: 10px;

    background-color: #dcbada;
    border-radius: 15px;
}

.item img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}