.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

    padding: 10px;
}

.dialogsItems {
    
}

.messages {
    background-color: #dcbada;
    border-radius: 15px;
}

.sendMessage{
    padding: 10px;
    display: flex;
    direction: column;
    justify-content: center;
}

.button_send{
    margin-left: 10px;
}